<ion-content>
  <ion-header>
    <ion-item color="primary">
      <ion-item slot="end" routerLink routerDirection="back" color="primary">Back</ion-item>
      <ion-text slot="start">Repositories
        <ion-card-subtitle color="secondary">
          {{loginName}}
        </ion-card-subtitle>
      </ion-text>
    </ion-item>
  </ion-header>

  <ion-item *ngIf="repositories">
    <ion-input placeholder="Filter current results" [formControl]="searchInput" clearInput></ion-input>
  </ion-item>

  <ion-grid>

    <ion-item lines="none">
      <ion-text>
        Results {{currentCount}} of {{totalCount}}
      </ion-text>
    </ion-item>

    <ion-col size="12">
      <ion-list *ngFor="let repository of repositories | async |ngSearchPipe:searchText" lines="none">
        <app-repository [repository]="repository"></app-repository>
      </ion-list>
    </ion-col>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadRepositories($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{loadingStatus}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed" title="Back to top">
  <ion-fab-button (click)="backToTop()">
    <ion-icon name="arrow-up-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>