<ion-grid>
  <ion-col size="12">

    <ion-searchbar [formControl]="searchInput"></ion-searchbar>

    <ion-item>
      <ion-input [formControl]="filter" slot="start"></ion-input>
      <ion-button slot="end" (click)="applyFilter()">Filter</ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-text>
        Results {{currentCount}} of {{totalCount}}
      </ion-text>
    </ion-item>

    <ion-list *ngFor="let user of users | async | ngSearchPipe:searchText" lines="none">
      <app-user [user]="user"></app-user>
    </ion-list>
  </ion-col>
</ion-grid>

<ion-infinite-scroll (ionInfinite)="loadUsers($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText={{loadingStatus}}>
  </ion-infinite-scroll-content>
</ion-infinite-scroll>