<ion-grid>
  <ion-col size="12">

    <ion-searchbar placeholder="Filter current results" [formControl]="searchInput"></ion-searchbar>

    <ion-item lines="none">
      <ion-item class="ion-no-padding">
        <ion-input placeholder="Enter search keyword" clearInput [formControl]="filter"></ion-input>
      </ion-item>
      <ion-item lines="none" slot="end">
        <ion-button (click)="applyFilter()" shape="round">Apply</ion-button>
      </ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-select [formControl]="searchHistoryDropdown" [(value)]="selectedSearchHistory" style="font-size: 1rem;"
        placeholder="None Selected" (ionChange)="selectedSearchHistoryValueChanged()">
        <ion-label style="color:gray;">Search History</ion-label>
        <ion-select-option *ngFor="let keyword of searchHistory">{{keyword}}</ion-select-option>
      </ion-select>
      <ion-text>Search History</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-text>
        Results {{currentCount}} of {{totalCount}}
      </ion-text>
    </ion-item>

    <ion-list *ngFor="let user of users | async | ngSearchPipe:searchText" lines="none">
      <app-user [user]="user"></app-user>
    </ion-list>
  </ion-col>
</ion-grid>

<ion-infinite-scroll (ionInfinite)="loadUsers($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText={{loadingStatus}}>
  </ion-infinite-scroll-content>
</ion-infinite-scroll>