<ion-grid>
  <ion-col size="12">
    <ion-item *ngIf="users">
      <ion-input placeholder="Filter current results" [formControl]="filterResultsInput" clearInput></ion-input>
    </ion-item>

    <ion-item lines="none">

      <ion-item class="ion-no-padding">
        <ion-input placeholder="Enter search keyword" clearInput [formControl]="searchUserInput"></ion-input>
      </ion-item>
      <ion-item lines="none" slot="end">
        <ion-button (click)="search()" shape="round" [disabled]="fetchingData || !searchUserInput.valid">Search
        </ion-button>
      </ion-item>
    </ion-item>

    <ion-item lines="none">
      <ion-select [formControl]="searchHistoryDropdown" [value]="selectedSearchValue" placeholder="None Selected"
        (ionChange)="searchHistoryValueChanged()">
        <ion-label>Search History</ion-label>
        <ion-select-option *ngFor="let keyword of searchHistory">{{keyword}}</ion-select-option>
      </ion-select>
      <ion-text>Search History</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-text slot="start">
        Results {{currentCount}} of {{totalCount}}
      </ion-text>
      <ion-item slot="end" lines="none">
        <ion-select [formControl]="numberOfResultDropdown" [value]="numberOfResultValue"
          (ionChange)="numberOfResultValueChanged()">
          <ion-label>Results to show per page</ion-label>
          <ion-select-option *ngFor="let numberOfResult of numberOfResultOptions" [value]="numberOfResult">
            {{numberOfResult}}
          </ion-select-option>
        </ion-select>
        <ion-text>Results / Page</ion-text>
      </ion-item>
    </ion-item>

    <ion-list *ngFor="let user of users | async | ngSearchPipe:searchText" lines="none">
      <app-user [user]="user"></app-user>
    </ion-list>
  </ion-col>
</ion-grid>
<ion-infinite-scroll (ionInfinite)="loadUsers($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText={{loadingStatus}}>
  </ion-infinite-scroll-content>
</ion-infinite-scroll>